<div class="amp-dc-slider js_slider" data-infinite="{{loop}}" data-autoplay="{{autoplay}}"
     data-navigation="{{#if (itemAt slides 1)}}{{navigationDots}}{{/if}}">
    <div class="amp-dc-slider-frame js_frame">
        <ul class="amp-dc-slider-slides js_slides">
            {{#each slides}}
            <li class="amp-dc-slider-slide js_dc_slide">
                {{#if (test this.[@type] (toRegex ".*/banner")) ~}}
                {{> acc-template-banner }}
                {{~/if}}

                {{#if (test this.[@type] (toRegex ".*/video")) ~}}
                {{> acc-template-video }}
                {{~/if}}

                {{#if (test this.[@type] (toRegex ".*/image")) ~}}
                <div class="amp-dc-poi-image">
                    {{> acc-template-image-generator
                        image=this
                        mediaQueries='[
                            {"query": 768, "width": 768},
                            {"query": 1024, "width": 1024},
                            {"query": 1025, "width": 1600}
                        ]'
                        }}
                </div>
                {{~/if}}
            </li>
            {{/each}}
        </ul>
        {{#if (itemAt slides 1)}}
        <span class="amp-dc-slider-prev js_prev js_slider_toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5">
                    <g>
                        <path d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/>
                    </g>
                </svg>
            </span>
        <span class="amp-dc-slider-next js_next js_slider_toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5">
                    <g>
                        <path d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/>
                    </g>
                </svg>
            </span>
        {{/if}}
        {{#if (itemAt slides 1)}}
            {{#if navigationDots}}
            <ul class="amp-dc-dots">
                {{#each slides}}
                <li class="amp-dc-dot js_dc_slider_dot"></li>
                {{/each}}
            </ul>
            {{/if}}
        {{/if}}
    </div>
</div>