<picture class="amp-dc-image">
    <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}.webp?w=1600&{{> acc-template-banner-poi name=image.name w=1280 h=720 aspect='16:9'}}{{> acc-template-banner-roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
            image.name}}{{#if seoText}}/{{encodeURI seoText}}{{/if}}.webp?w=3200&{{> acc-template-banner-poi name=image.name w=1280 h=720
                                                                                             aspect='16:9'}}{{> acc-template-banner-roundel}} 2x"
            media="(min-width: 1280px)"
            type="image/webp">

    <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}?w=1600&{{> acc-template-banner-poi name=image.name w=1280 h=720 aspect='16:9'}}{{> acc-template-banner-roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{#if
            seoText}}/{{encodeURI seoText}}{{/if}}?w=3200&{{> acc-template-banner-poi name=image.name w=1280 h=720
                                                                      aspect='16:9'}}{{> acc-template-banner-roundel}} 2x"
            media="(min-width: 1280px)">

    <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}.webp?w=1280&{{> acc-template-banner-poi name=image.name w=1600 h=900 aspect='16:9'}}{{> acc-template-banner-roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
            image.name}}{{#if seoText}}/{{encodeURI seoText}}{{/if}}.webp?w=2560&{{> acc-template-banner-poi name=image.name w=1600 h=900
                                                                                             aspect='16:9'}}{{> acc-template-banner-roundel}} 2x"
            media="(min-width: 1024px)"
            type="image/webp">
    <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}?w=1280&{{> acc-template-banner-poi name=image.name w=1600 h=900 aspect='16:9'}}{{> acc-template-banner-roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{#if
            seoText}}/{{encodeURI seoText}}{{/if}}?w=2560&{{> acc-template-banner-poi name=image.name w=1600 h=900
                                                                      aspect='16:9'}}{{> acc-template-banner-roundel}} 2x"
            media="(min-width: 1024px)">

    <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}.webp?w=1024&{{> acc-template-banner-poi name=image.name w=1024 h=576 aspect='16:9'}}{{> acc-template-banner-roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
            image.name}}{{#if seoText}}/{{encodeURI seoText}}{{/if}}.webp?w=2048&{{> acc-template-banner-poi
            name=image.name w=1024 h=576 aspect='16:9'}}{{> acc-template-banner-roundel}} 2x"
            media="(min-width: 769px)"
            type="image/webp">
    <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}?w=1024&{{> acc-template-banner-poi name=image.name name=image.name w=1600 h=576
                                                aspect='16:9'}}{{> acc-template-banner-roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{#if
            seoText}}/{{encodeURI seoText}}{{/if}}?w=2048&{{> acc-template-banner-poi name=image.name w=1600 h=576
                                                                      aspect='16:9'}}{{> acc-template-banner-roundel}} 2x"
            media="(min-width: 769px)">

    <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}.webp?w=768&{{> acc-template-banner-poi name=image.name name=image.name w=768 h=768}}{{> acc-template-banner-roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
            image.name}}{{#if seoText}}/{{encodeURI seoText}}{{/if}}.webp?w=1536&{{> acc-template-banner-poi name=image.name
                                                                                             w=768
                                                                                             h=768}}{{> acc-template-banner-roundel}} 2x"
            media="(max-width: 768px)"
            type="image/webp">
    <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}?w=768&{{> acc-template-banner-poi name=image.name name=image.name w=768 h=768}}{{> acc-template-banner-roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{#if
            seoText}}/{{encodeURI seoText}}{{/if}}?w=1536&{{> acc-template-banner-poi name=image.name w=768 h=768}}{{> acc-template-banner-roundel}} 2x"
            media="(max-width: 768px)">

    <img src="//{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}?w=1600&{{> acc-template-banner-poi name=image.name}}{{> acc-template-banner-roundel}}"
         srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
                 seoText}}{{/if}}.webp?w=1600&{{> acc-template-banner-poi name=image.name}}{{> acc-template-banner-roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
                 image.name}}{{#if seoText}}/{{encodeURI seoText}}{{/if}}.webp?w=3200&{{> acc-template-banner-poi
                 name=image.name}}{{> acc-template-banner-roundel}} 2x,
             //{{image.defaultHost}}/i/{{image.endpoint}}/{{#if seoText}}/{{encodeURI
                 seoText}}{{/if}}?w=1600&{{> acc-template-banner-poi name=image.name}}{{> acc-template-banner-roundel}} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
                 image.name}}{{#if seoText}}/{{encodeURI seoText}}{{/if}}?w=3200&{{> acc-template-banner-poi
                 name=image.name}}{{> acc-template-banner-roundel}} 2x"
         class="amp-dc-image-pic" {{#if imageAltText}} alt="{{imageAltText}}" {{/if}}/>
</picture>
