<img
        src="//{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if seoText}}/{{encodeURI
                    seoText}}{{/if}}?h=300&{{> acc-template-banner-poi name=image.name w=300 h=200 aspect=2:1}}{{> acc-template-roundel }}"
        class="amp-dc-image-pic" {{#if imageAltText}} alt="{{imageAltText}}" {{/if}} />
<!--srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}.webp?h=100&w=100&{{> acc-template-banner-poi name=image.name w=100 h=100}}{{> acc-template-roundel }} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
            image.name}}{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}.webp?h=200&w=200&{{> acc-template-banner-poi name=image.name w=200 h=200}}{{> acc-template-roundel }} 2x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
            image.name}}{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}?h=100&w=100&{{> acc-template-banner-poi name=image.name w=100 h=100}}{{> acc-template-roundel }} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
            image.name}}{{#if seoText}}/{{encodeURI seoText}}{{/if}}?h=200&w=200&{{> acc-template-banner-poi name=image.name w=200 h=200}}{{> acc-template-roundel }} 2x"
-->
