<div class="amp-dc-poi-image">
    <picture class="amp-dc-image">
        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}.webp?w=1120{{> acc-template-roundel }} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if
            seoText}}/{{encodeURI seoText}}{{/if}}.webp?w=2240{{> acc-template-roundel }} 2x"
                media="(min-width: 1025px)"
                type="image/webp">

        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}?w=1120{{> acc-template-roundel }} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if
            seoText}}/{{encodeURI seoText}}{{/if}}?w=2240{{> acc-template-roundel }} 2x"
                media="(min-width: 1025px)">

        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}.webp?w=720{{> acc-template-roundel }} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if
            seoText}}/{{encodeURI seoText}}{{/if}}.webp?w=1440{{> acc-template-roundel }} 2x"
                media="(max-width: 1024px)" type="image/webp">

        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}?w=720{{> acc-template-roundel }} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if
            seoText}}/{{encodeURI seoText}}{{/if}}?w=1440{{> acc-template-roundel }} 2x"
                media="(max-width: 1024px)">

        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}.webp?w=540{{> acc-template-roundel }} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if
            seoText}}/{{encodeURI seoText}}{{/if}}.webp?w=1080{{> acc-template-roundel }} 2x"
                media="(max-width: 768px)" type="image/webp">

        <source srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if seoText}}/{{encodeURI
            seoText}}{{/if}}?w=540{{> acc-template-roundel }} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if
            seoText}}/{{encodeURI seoText}}{{/if}}?w=1080{{> acc-template-roundel }} 2x"
                media="(max-width: 768px)">
        <img
                src="//{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if seoText}}/{{encodeURI
                    seoText}}{{/if}}?{{> acc-template-roundel }}"
                srcset="//{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI image.name}}{{#if seoText}}/{{encodeURI
                    seoText}}{{/if}}.webp?w=1120{{> acc-template-roundel }} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
                    image.name}}{{#if seoText}}/{{encodeURI
                    seoText}}{{/if}}.webp?w=2240{{> acc-template-roundel }} 2x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
                    image.name}}{{#if seoText}}/{{encodeURI
                    seoText}}{{/if}}?w=1120{{> acc-template-roundel }} 1x, //{{image.defaultHost}}/i/{{image.endpoint}}/{{encodeURI
                    image.name}}{{#if seoText}}/{{encodeURI seoText}}{{/if}}?w=2240{{> acc-template-roundel }} 2x"
                class="amp-dc-image-pic splitBlock" {{#if imageAltText}} alt="{{imageAltText}}" {{/if}}/>

    </picture>
</div>