<div class="amp-dc-promo-banner">
    <div class="amp-dc-promo-banner-wrap">
        <div class="amp-dc-promo-block dc-0">
            <div class="amp-dc-promo-wrap">
                <a style="background:{{backgroundColor}}" href="{{link.value}}"
                   {{#unless icon.name}}class="amp-dc-promo-center" {{/unless}} >
                    {{#if icon.name}}
                        <picture class="amp-dc-promo-ico">
                            <img src="//{{icon.defaultHost}}/i/{{icon.endpoint}}/{{icon.name}}?w=40&h=40"
                                 srcset="//{{icon.defaultHost}}/i/{{icon.endpoint}}/{{icon.name}}?w=40&h=40 1x, //{{icon.defaultHost}}/i/{{icon.endpoint}}/{{icon.name}}?w=80&h=80 2x"
                                 class="amp-dc-image-pic"/>
                        </picture>
                    {{/if}}
                <div class="{{#if topLine}}amp-dc-promo-text-flex{{/if}} {{#if bottomLine}}amp-dc-promo-text-flex{{/if}}">

                    <div class="amp-dc-promo-text-wrap">
                        <div class="amp-dc-promo-head-text"
                             {{#if toplineColor}}style="color:{{toplineColor}}" {{/if}} >
                            {{topLine}}
                        </div>
                    </div>
                    <div class="amp-dc-promo-content-text"
                         {{#if bottomlineColor}}style="color:{{bottomlineColor}}" {{/if}} >
                        {{bottomLine}}
                    </div>
                </div>
                </a>
             </div>
        </div>
    </div>
</div>